:root {
    --blue: #2AA3A4;
    --pink: #EB6D94;
    --increase: scale(1.02);
    --text: #252342;
    --bg: #f5f5f5;
    --mb: 76px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratAlt';
    src: url('../fonts/montserratalternates-semibold-webfont.woff2') format('woff2'), url('../fonts/montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    overflow-x: hidden;
    background-color: var(--bg);
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.btn {
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 31px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 1px solid transparent;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    transform: var(--increase);
    transition: transform ease-in-out .2s;
    outline: none;
}

.btn:active {
    box-shadow: none;
    text-shadow: none;
    transform: translateY(2px);
}

.link {
    text-decoration: none;
}

.img {
    max-width: 100%;
}

.title {
    font-family: 'MontserratAlt', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: center;
}

.input {
    width: 500px;
    padding: 35px 26px;
    border-radius: 40px;
    border: 1px solid #fff;
}

.input::placeholder {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #999;
}

textarea {
    resize: none;
}

.container {
    padding: 0 60px;
    max-width: 1480px;
    margin: 0 auto;
}

.header {
    background-color: var(--bg);
    z-index: 15;
    width: 100%;
}

.header--fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

.header-logo:hover, .header-logo:focus {
    transform: var(--increase);
    transition: transform ease-in-out .2s;
    outline: none;
}

.header-logo__img {
    width: 180px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 28px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
    border-bottom: 2px solid transparent;
}

.header-link:hover, .header-link:focus {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    transition: color linear .2s;
    transition: border-bottom linear .2s;
    outline: none;
}

.main {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.banner {
    background-image: url(../img/banner/banner-2.jpg);
    background-size: cover;
    padding: 80px 0;
    margin-bottom: var(--mb);
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 650px;
    height: 650px;
    background-image: url(../img/banner/banner-content.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 150px;
}

.banner-title {
    width: 500px;
    font-weight: 300;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    color: #333333;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}

.banner-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px 30px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    z-index: 5;
    border: 1px solid transparent;
}

.anim {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--mb);
    position: relative;
}

.anim-container {
    width: 100%;
    height: 520px;
    padding: 30px 40px;
    overflow: hidden;
    width: 100%;
}

.anim-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.anim-slide {
    flex-shrink: 0;
    width: 232px;
    height: 440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.anim-slide:hover {
    cursor: pointer;
    transform: var(--increase);
    transition: transform ease-in-out .2s;
}

.anim__minicard {
    padding: 20px 0;
    background-color: var(--blue);
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anim__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.swiper-button-prev {
    margin-left: 20px;
}

.swiper-button-next {
    margin-right: 20px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #fff;
    font-size: 24px;
    background-color: var(--blue);
    padding: 20px 25px;
    border-radius: 50%;
}

.burgerman {
    background-image: url(../img/anim/burgerman.jpg);
}

.ariel {
    background-image: url(../img/anim/ariel.jpg)
}

.lol {
    background-image: url(../img/anim/lol.jpg)
}

.minecraft {
    background-image: url(../img/anim/minecraft.jpg)
}

.show {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--mb);
}

.show-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.show-item {
    position: relative;
    border-radius: 24px;
    width: 420px;
    height: 340px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-right: 10px;
}

.show-item:hover, .packs-item:hover {
    cursor: pointer;
    transform: var(--increase);
    transition: transform ease-in-out 0.2s;
}

.show-item:hover .show-item__title {
    transform: scale(1.03);
    transition: transform ease-in-out 0.2s;
}

.show-item__title {
    position: absolute;
    left: 34px;
    bottom: 27px;
    color: var(--bg);
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.dogs {
    background-image: url(../img/show/dogs.jpg);
}

.space {
    background-image: url(../img/show/space.png);
}

.bubbles {
    background-image: url(../img/show/bubbles.png);
}

.white {
    background-image: url(../img/show/white.jpg);
}

.neon {
    background-image: url(../img/show/neon.jpg);
}

.packs {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--mb);
}

.packs-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.packs-item {
    position: relative;
    border-radius: 24px;
    width: 420px;
    height: 490px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
}

.yt {
    background-image: url(../img/packs/yt.jpg);
}

.like {
    background-image: url(../img/packs/like.jpg);
}

.tt {
    background-image: url(../img/packs/tt.jpg);
}

.packs-item__title {
    position: absolute;
    left: 34px;
    bottom: 27px;
    color: var(--bg);
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-right: 145px;
}

.black {
    color: #000;
}

.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--mb);
}

.more__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.more__item {
    width: 200px;
    margin-right: 34px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.more__item:hover {
    cursor: pointer;
}

.more__item:hover .more-item__img {
    transform: var(--increase);
    transition: transform ease-in-out 0.2s;
}

.more__item:hover .more-item__name {
    color: var(--blue);
    transition: color ease-in-out 0.2s;
}

.more-item__img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-bottom: 16px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.photo {
    background-image: url(../img/more/photo.jpg);
}

.rent {
    background-image: url(../img/more/rent.jpg);
}

.dj {
    background-image: url(../img/more/dj.jpg);
}

.playground {
    background-image: url(../img/more/playground.jpg);
}

.beauty {
    background-image: url(../img/more/beauty.jpg);
}

.class {
    background-image: url(../img/more/class.jpg);
}

.aqua {
    background-image: url(../img/more/aqua.jpg);
}

.decor {
    background-image: url(../img/more/decor.jpg);
}

.about-us {
    margin-bottom: var(--mb);
}

.about-us__description {
    font-weight: 300;
    text-align: justify;
    /* text-align: center; */
    margin-bottom: 70px;
}

.about-us-numbers__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.about-us-numbers__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.about-us-numbers__number {
    font-size: 96px;
    line-height: 117px;
}

.about-us-numbers__description {
    font-weight: 300;
    width: 80%;
}

.about-us__member {
    display: flex;
    align-items: center;
    position: relative;
}

.about-us_img {
    max-width: 358px;
    border: 20px solid var(--pink);
    border-radius: 100%;
    margin-right: 30px;
}

.about-us-member__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.about-us-member__list {
    margin-right: 30px;
}

.second {
    flex-direction: row-reverse;
}

.img-second {
    border: 20px solid var(--blue);
}

.ball-blue, .ball-pink {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
}

.ball-blue {
    background: var(--blue);
    left: 150px;
    bottom: -100px;
}

.ball-pink {
    background: var(--pink);
    right: 200px;
    bottom: 250px;
}

.gallery {
    margin-bottom: var(--mb);
}

.swiper-container {
    height: 450px;
    padding: 50px 0;
}

.gallery-container {
    overflow: hidden;
    width: 100%;
}

.gallery-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.gallery-slide {
    flex-shrink: 0;
}

.gallery-slide__img {
    width: 700px;
    height: 380px;
}

.gallery-slide__photo {
    width: 550px;
    border-radius: 24px;
}

.gallery-slide:hover {
    cursor: pointer;
    transform: var(--increase);
    transition: transform ease-in-out .2s;
}

.gallery-pag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.gallery-pagination {
    position: static;
}

.gallery-button-prev, .gallery-button-next {
    position: static;
    margin: 0;
}

.gallery-button-prev {
    margin-right: 50px;
}

.gallery-button-next {
    margin-left: 50px;
}

.swiper-pagination-fraction {
    width: auto;
}

.about-shows {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb);
}

.accordion {
    margin-bottom: 76px;
    width: 40%;
    margin-right: 10px;
}

.accordion__item {
    position: relative;
    max-width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.accordion__item::after, .accordion__item::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.accordion__item::before {
    top: -1px;
}

.accordion__item::after {
    bottom: 0;
}

.accordion__item:hover, .accordion__item:focus {
    z-index: 1;
}

.accordion__item:hover::before, .accordion__item:hover::after, .accordion__item:focus::before, .accordion__item:focus::after {
    background-color: var(--pink);
}

.accordion-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: var(--text);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0px;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.accordion-item__link:hover, .accordion-item__link:focus {
    color: var(--blue);
    outline: none;
}

.accordion-item__link:hover .accordion__button, .accordion-item__link:focus .accordion__button {
    background-color: #d2d2d2;
}

.accordion-item__button {
    margin-left: auto;
    display: block;
    position: relative;
    border: 1px solid var(--pink);
    border-radius: 50%;
    background-color: var(--pink);
    width: 50px;
    height: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.up {
    transform: rotate(180deg);
    transition: transform linear .5s;
}

.accordion-item__description {
    padding-bottom: 20px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #333333;
}

.info {
    display: flex;
    position: absolute;
    right: 0;
}

.info__form {
    display: flex;
    width: 400px;
    height: 800px;
    background-image: url(../img/info/left-blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
    padding: 0 40px;
}

.info-form__content, .info-contacts__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contacts__content {
    align-items: flex-start;
}

.info-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-input {
    width: 300px;
    padding: 25px 16px;
    margin-bottom: 12px;
    border-radius: 100px;
}

.info-input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.info-textarea {
    border-radius: 50px;
    height: 150px;
}

.info-btn {
    background-color: var(--pink);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 30px;
    margin-top: 23px;
    text-shadow: none;
    box-shadow: none;
}

.info__contacts {
    display: flex;
    width: 400px;
    height: 800px;
    background-image: url(../img/info/right-pink.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 115px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
}

.contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contacts__tel, .contacts__mail {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.contacts__tel:hover, .contacts__mail:hover {
    color: #000;
    transition: color linear .2s;
}

.contacts__time {
    width: 300px;
    color: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}

.swiper-slide-active {
    transform: scale(1.1);
    transition: transform linear .2s;
}

.feedback {
    margin-bottom: 36px;
}

.feedback-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 400px;
    padding: 50px 0;
}

.feedback-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.feedback-slide {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid var(--blue);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
}

.feedback-text {
    width: 300px;
    height: 300px;
}

.pink {
    border: 5px solid var(--pink);
}

.feedback__text {
    text-align: center;
    margin: auto;
}

.footer {
    background: var(--blue);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-logo {
    background: #fff;
    width: 250px;
    margin-left: 15px;
}

.footer-logo__img {
    width: 250px;
}

.social-media__list {
    display: flex;
    align-items: center;
}

.social-media__item {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.social-media__link {
    padding: 25px;
}

.whatsapp {
    background-image: url(../img/footer/wa.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.ig {
    background-image: url(../img/footer/ig.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.whatsapp:hover, .whatsapp:focus {
    background-image: url(../img/footer/wa-black.svg);
    transition: background-image ease-in-out .2s;
}

.ig:hover, .ig:focus {
    background-image: url(../img/footer/ig-black.svg);
    transition: background-image ease-in-out .2s;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}

.modal__dialog {
    margin: auto;
    max-width: 580px;
    width: 95%;
    background-color: var(--blue);
    padding: 50px 40px;
    border-radius: 24px;
    position: relative;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 29px;
}

.modal-input {
    margin-bottom: 32px;
}

.modal-btn {
    background-color: var(--pink);
    margin-top: 32px;
    padding: 20px 43px;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    max-width: 250px;
}

.modal__textarea {
    border-radius: 40px;
}

.modal-x {
    cursor: pointer;
    background-image: url(../img/modal/x.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
}

.modal-show__dialog {
    background-color: #fff;
}

.modal-show-x {
    cursor: pointer;
    background-image: url(../img/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
}

.modal--open {
    display: flex;
}

.last {
    display: none;
}

.burger {
    display: none;
    background-color: transparent;
    border: none;
}

.burger-img-x {
    display: none;
    width: 25px;
}

.sort {
    background-color: var(--blue);
}

@media (max-width: 1410px) {
    .anim-container {
        height: 640px;
    }
    .anim-slide {
        width: 232px;
        height: 540px;
    }
    .show-item {
        width: 540px;
        height: 340px;
        margin-right: 10px;
    }
    .last {
        display: flex;
    }
    .packs-item {
        width: 32%;
        height: 390px;
    }
    .packs-item__title {
        font-size: 24px;
        line-height: 32px;
        margin-right: 100px;
    }
    .info {
        width: 55%;
    }
    .info__form, .info__contacts {
        width: 350px;
        height: 700px;
    }
    .info-input {
        padding: 20px 10px;
    }
    .info-textarea {
        height: 120px;
    }
    .info-contacts__content {
        width: 250px;
        font-size: 12px;
    }
    .contacts__tel, .contacts__mail {
        font-size: 16px;
        line-height: 24px;
    }
    .contacts__time {
        width: 250px;
        font-size: 16px;
        line-height: 24px;
    }
    .footer-logo, .footer-logo__img {
        width: 300px;
    }
}

@media (max-width: 570px) {
    .container {
        padding: 0 5%;
    }
    .burger {
        display: block;
    }
    .menu {
        display: block;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        width: 100%;
        -webkit-transform: translateX(101%);
        -ms-transform: translateX(101%);
        transform: translateX(101%);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        padding-top: 15px;
        background-color: var(--bg);
        margin-top: 60px;
    }
    .menu__list {
        align-items: start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .header-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .banner {
        background-image: url(../img/gallery/Photo-0495.jpg);
        padding: 70px 0;
    }
    .banner-content {
        width: 380px;
        height: 380px;
        padding-top: 10px;
    }
    .banner-title {
        width: 360px;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 50px;
    }
    .banner-btn {
        font-size: 16px;
        line-height: 20px;
        padding: 20px 25px;
    }
    .show-list {
        width: 100%;
    }
    .show-item {
        width: 100%;
        margin-right: 0;
    }
    .anim-container {
        height: 470px;
    }
    .anim-slide {
        height: 400px;
    }
    .anim__title {
        font-size: 14px;
        line-height: 16px;
    }
    .swiper-button-prev::after, .swiper-button-next::after {
        color: #fff;
        font-size: 20px;
        background-color: var(--blue);
        padding: 20px 25px;
        border-radius: 50%;
    }
    .packs-list {
        width: 100%;
        flex-direction: column;
    }
    .packs-item {
        width: 100%;
        margin-bottom: 30px;
    }
    .more__item {
        margin-right: 10px;
    }
    .more__item:nth-child(2n) {
        margin-right: 0;
    }
    .gallery-slide__img {
        width: 600px;
        height: 380px;
    }
    .gallery-slide__photo {
        width: 450px;
        border-radius: 24px;
    }
    .about-us__member {
        flex-direction: column;
    }
    .about-us-member__name {
        text-align: center;
    }
    .about-us-numbers__list {
        flex-direction: column;
    }
    .ball-blue {
        background: var(--blue);
        left: 250px;
        bottom: 150px;
    }
    .ball-pink {
        background: var(--pink);
        right: 300px;
        bottom: 250px;
    }
    .swiper-container {
        height: 350px;
        padding: 30px 0;
    }
    .about-shows {
        flex-direction: column;
    }
    .accordion, .info {
        width: 100%;
    }
    .footer-container {
        padding: 24px 0;
    }
    .footer-logo {
        background: #fff;
        width: 200px;
        margin-left: 20px;
    }
    .footer-logo__img {
        width: 200px;
    }
    .social-media__item {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    .social-media__link {
        padding: 25px;
    }
    .info {
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .info__form, .info__contacts {
        padding: 10px 20px 20px 20px;
        margin: 0;
        height: auto;
        border-radius: 24px;
    }
    .info__form {
        /* background-image: none;*/
        background-color: var(--blue);
        margin-bottom: 24px;
    }
    .info__contacts {
        /* background-image: none;*/
        background-color: var(--pink);
    }
    .info-form__content {
        padding: 0;
        margin: 0;
        height: 0;
        height: auto;
        width: 100%;
    }
    .info-btn {
        margin-top: 10px;
    }
    .info-contacts__title {
        align-self: center;
    }
    .modal__dialog {
        max-width: 310px;
        padding: 40px 20px 30px 20px;
    }
    .modal__title {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }
    .modal__description {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 22px;
    }
    .modal-input {
        width: 0;
        width: 100%;
        padding: 20px;
        margin-bottom: 18px;
    }
    .modal-btn {
        background-color: var(--pink);
        margin-top: 0px;
        padding: 10px 23px;
        font-size: 20px;
        line-height: 34px;
        color: #FFFFFF;
        max-width: 250px;
    }
    .modal-x {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {
    .more__item {
        margin-right: 0px;
    }
}

@media (max-width: 375px) {
    .btn {
        font-size: 14px;
        padding: 21px;
    }
    .modal-btn {
        padding: 10px 21px;
    }
    .banner {
        padding: 50px 0;
    }
    .banner-content {
        width: 330px;
        height: 330px;
        padding-top: 0;
    }
    .banner-title {
        width: 250px;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .banner-btn {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 20px;
    }
    .anim-container {
        padding-top: 20px;
        height: 370px;
    }
    .anim-slide {
        height: 320px;
    }
    .anim__title {
        font-size: 12px;
        line-height: 14px;
    }
    .swiper-button-prev::after, .swiper-button-next::after {
        color: #fff;
        font-size: 16px;
        background-color: var(--blue);
        padding: 10px 14px;
        border-radius: 50%;
    }
    .show-item {
        margin-right: 0;
    }
    .desctop {
        display: none;
    }
    .packs-item {
        margin-bottom: 20px;
    }
    .more__item {
        margin-right: 0;
    }
    .swiper-container {
        padding: 0;
        height: 250px;
    }
    .swiper-slide {
        height: 250px;
    }
    .gallery-slide__photo {
        width: 0;
        width: 100%;
        border-radius: 24px;
        padding-top: 10px;
    }
    .gallery-pag {
        margin-top: 10px;
    }
    .about-us__description {
        font-size: 14px;
    }
    .about-us__member {
        margin-bottom: 30px;
    }
    .about-us_img {
        max-width: 320px;
        margin: 0;
    }
    .ball-blue {
        left: 180px;
        bottom: 150px;
    }
    .ball-pink {
        right: 200px;
        bottom: 250px;
    }
    .accordion__item {
        font-size: 16px;
        line-height: 20px;
    }
    .accordion-item__link {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .accordion__button {
        width: 30px;
        height: 30px;
    }
    .accordion-item__description {
        font-size: 14px;
    }
    .footer-container {
        padding: 24px 0;
    }
    .footer-logo {
        background: #fff;
        width: 170px;
        margin-left: 20px;
    }
    .footer-logo__img {
        width: 170px;
    }
    .social-media__item {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    .social-media__link {
        padding: 25px;
    }
}

.is-active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.is-open {
    display: block;
}

.closed {
    display: none;
}